:root {
    --color-bg: #282828;
    --color-fg: #EADBB2;
    --color-link: #8F9191;
    --color-link-visited: #668F8B;
    --color-link-hover: #FA7921;
}

html,
body {
    background: var(--color-bg);
    color: var(--color-fg);
    font-family: "Fira Code";
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.info {
    margin-left: 5rem;
    margin-top: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0.7;
}

.info #date {
    text-transform: uppercase;
}

.info #greeting {
    font-size: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    padding-top: 60px;
}

.category {
    display: flex;
    flex-direction: column;
    width: 180px;
}

.bookmarks {
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title {
    font-size: 20px;
}

li {
    font-size: 16px;
    list-style-type: none;
    padding: 5px
}

a:link {
    text-decoration: none;
    color: var(--color-link);
}

a:visited {
    color: var(--color-link-visited);
}

a:hover {
    color: var(--color-link-hover);
}

.blinking {
    animation: opacity 1s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}